*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: "Karla", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}
